<!DOCTYPE html>
<html>
<body>
    <div class="centerd">
        <div>
        <h2>The price is <span>{{initial}}</span></h2>
        <h2>The Tax Rate is :<span>{{tax}}</span></h2>
    </div>
    <h1><i>The total price is <span class="for">{{total}}</i></span></h1>
</div>

</body>
<style>
    body{
        background-color: rgb(255, 154, 188);
    }

    .centerd{
        height: 100vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>